@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

@import "painless";

@font-family: 'Roboto Slab', serif;
@font-weight: 300;
@font-size: 16px;

@large-width: 1200px;
@iphone-5:    320px;

@icon-tag:      'data:image/svg+xml;utf8,<svg height="22px" version="1.1" viewBox="0 0 23 22" width="23px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><defs><path d="M13.1280738,-1.86808672 L6,4.29864327 L6,19.5668775 C6,19.8368658 6.2236826,20.0557345 6.49907685,20.0557345 L20.5009232,20.0557345 C20.7765557,20.0557345 21,19.8329873 21,19.5668775 L21,4.29864327 L13.8719262,-1.86808672 C13.6665171,-2.0457929 13.3292604,-2.04213981 13.1280738,-1.86808672 Z M13.8823377,-0.438537528 C13.6711785,-0.613307161 13.3261407,-0.6110883 13.1176623,-0.438537533 L7,4.62485114 L7,18.5887943 C7,18.8589513 7.22563935,19.0779568 7.50164985,19.0779568 L19.4983502,19.0779568 C19.7754038,19.0779568 20,18.8624296 20,18.5887943 L20,4.62485126 L13.8823377,-0.438537528 L13.8823377,-0.438537528 Z M13.5,7.83351232 C14.6045696,7.83351232 15.5,6.95798032 15.5,5.87795676 C15.5,4.79793321 14.6045696,3.92240121 13.5,3.92240121 C12.3954305,3.92240121 11.5,4.79793321 11.5,5.87795676 C11.5,6.95798032 12.3954305,7.83351232 13.5,7.83351232 L13.5,7.83351232 Z M13.5,6.85573454 C14.0522848,6.85573454 14.5,6.41796857 14.5,5.87795676 C14.5,5.33794499 14.0522848,4.90017899 13.5,4.90017899 C12.9477152,4.90017899 12.5,5.33794499 12.5,5.87795676 C12.5,6.41796857 12.9477152,6.85573454 13.5,6.85573454 L13.5,6.85573454 Z" id="path-1"/></defs><g fill="none" fill-rule="evenodd" id="miu" stroke="none" stroke-width="1"><g id="common_tag_2_general_price_outline_stroke"><use fill="#000000" fill-rule="evenodd" transform="translate(13.500000, 9.000000) rotate(45.000000) translate(-13.500000, -9.000000) " xlink:href="#path-1"/><use fill="none" xlink:href="#path-1"/></g></g></svg>';
@icon-menu:     'data:image/svg+xml;utf8,<svg enable-background="new 0 0 34 24" height="24px" id="Layer_1" version="1.1" viewBox="0 0 34 24" width="34px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><rect fill="#FFFFFF" height="6" width="34"/><rect fill="#FFFFFF" height="6" width="34" y="9"/><rect fill="#FFFFFF" height="6" width="34" y="18"/></g></svg>';
@icon-twitter:  'data:image/svg+xml;utf8,<svg enable-background="new 0 0 500 500" height="500px" id="Layer_1" version="1.1" viewBox="0 0 500 500" width="500px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path clip-rule="evenodd" d="M431.781,195.487h27.166c2.362,0,4.72-0.905,6.538-2.634  c3.542-3.54,3.542-9.357,0-12.901c-2.457-2.361-32.891-38.977-32.891-38.977s30.434-36.618,32.891-38.977  c3.542-3.54,3.542-9.357,0-12.901c-1.818-1.725-4.176-2.635-6.538-2.635H415.24c-19.892-32.705-55.964-54.512-97.028-54.512  c-62.692,0-113.569,50.879-113.569,113.568c0,37.615-30.529,68.14-68.14,68.14h-0.275H50.013c-10,0-18.172,8.181-18.172,18.172  l0.089,2.453c8.083,79.041,63.412,144.459,136.372,168.901v42.156c0,12.536,10.177,22.711,22.713,22.711  s22.713-10.175,22.713-22.711v-32.62c5.997,0.544,12.083,0.818,18.17,0.818c6.086,0,12.173-0.274,18.172-0.818v32.62  c0,12.536,10.175,22.711,22.715,22.711c12.536,0,22.711-10.175,22.711-22.711v-42.156  c79.223-26.536,136.284-101.396,136.284-189.526V195.487z M322.757,109.175c0-12.536,10.174-22.714,22.711-22.714  c12.536,0,22.715,10.178,22.715,22.714s-10.179,22.713-22.715,22.713C332.931,131.889,322.757,121.711,322.757,109.175z   M252.253,243.275c12.812,27.805,7.81,61.789-15.083,84.679c-22.535,22.623-55.968,27.809-83.5,15.536l-2.91-1.544  c-5.812-3.088-9.714-9.175-9.714-16.174c0-5.36,2.27-10.179,5.909-13.541c1.809-1.632,75.132-75.043,75.132-75.043  c7.177-7.177,18.81-7.177,25.89,0c1.09,1.091,2.094,2.271,2.822,3.544L252.253,243.275z" fill="#010101" fill-rule="evenodd"/></svg>';
@icon-github:   'data:image/svg+xml;utf8,<svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.1" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M351.5,448.365h-192c-88.375,0-160-71.625-160-160v-64c0-35.75,12.125-68.5,32-95.125V80.365c0-26.5,5.5-48,32-48   c22.375,0,51.25,15.625,60.125,36.375c11.563-2.688,23.5-4.375,35.875-4.375h192c12.375,0,24.313,1.688,35.875,4.375   c8.875-20.75,37.75-36.375,60.125-36.375c26.5,0,32,21.5,32,48v48.875c19.875,26.625,32,59.375,32,95.125v64   C511.5,376.74,439.875,448.365,351.5,448.365z M351.5,224.365h-192c-53,0-96,43-96,96s43,96,96,96h192c53,0,96-43,96-96   S404.5,224.365,351.5,224.365z M351.5,369.365c-26.5,0-32-21.5-32-48v-17c0-26.5,5.5-48,32-48s32,21.5,32,48v17   C383.5,347.865,378,369.365,351.5,369.365z M159.5,369.365c-26.5,0-32-21.5-32-48v-17c0-26.5,5.5-48,32-48s32,21.5,32,48v17   C191.5,347.865,186,369.365,159.5,369.365z"/></g></svg>';
@icon-linkedin: 'data:image/svg+xml;utf8,<svg height="60px" version="1.1" viewBox="0 0 60 60" width="60px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink"><title/><defs/><g fill="none" fill-rule="evenodd" id="black" stroke="none" stroke-width="1"><g id="linkedin"><path d="M30,60 C46.5685433,60 60,46.5685433 60,30 C60,13.4314567 46.5685433,0 30,0 C13.4314567,0 0,13.4314567 0,30 C0,46.5685433 13.4314567,60 30,60 Z" fill="#000000" id="Linkedin"/><path d="M21.8830754,43.8231512 L21.8830754,25.5243389 L16.22737,25.5243389 L16.22737,43.8231512 L21.8830754,43.8231512 Z M21.8830754,19.0382145 C21.8493882,17.40066 20.7580156,16.1538462 18.9850543,16.1538462 C17.2116316,16.1538462 16.0528846,17.40066 16.0528846,19.0382145 C16.0528846,20.6402023 17.1779444,21.9230769 18.9172185,21.9230769 L18.9509057,21.9230769 C20.7580156,21.9230769 21.8830754,20.6402023 21.8830754,19.0382145 Z M31.1100418,43.8231517 L31.1100418,33.3973729 C31.1100418,32.8394014 31.1503704,32.28143 31.3144472,31.8836682 C31.7630341,30.7682778 32.7839561,29.6136637 34.498199,29.6136637 C36.7438958,29.6136637 38.152278,30.8881587 38.152278,33.3973727 L38.152278,43.8231516 L43.8461538,43.8231517 L43.8461538,33.1183872 C43.8461538,27.3839878 40.7850453,24.715669 36.7019099,24.715669 C33.3540813,24.715669 31.8845724,26.5873593 31.0686083,27.861302 L31.1094893,25.4139123 L25.425462,25.4139123 C25.5072241,27.1657215 25.425462,43.8231516 25.425462,43.8231516 L31.1100418,43.8231517 Z" fill="#FFFFFF"/></g></g></svg>';
@icon-profile:  'data:image/svg+xml;utf8,<svg enable-background="new 0 0 96 96" height="96px" id="Layer_1" version="1.1" viewBox="0 0 96 96" width="96px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><rect height="6" width="24" x="57" y="69"/><rect height="6" width="24" x="57" y="57"/><rect height="6" width="24" x="57" y="45"/><path d="M90,21H54v6h33v54H9V27h33v-6H6c-1.657,0-3,1.344-3,3v60c0,1.656,1.343,3,3,3h84c1.657,0,3-1.344,3-3V24  C93,22.344,91.657,21,90,21z"/><path d="M39,29V9h18v20c0,1.657-1.343,3-3,3H42C40.343,32,39,30.657,39,29z M45,26h6V15h-6V26L45,26z"/><path d="M51,61c0-4.881-2.934-9.083-7.127-10.956C44.589,48.508,45,46.803,45,45c0-6.617-5.383-12-12-12s-12,5.383-12,12  c0,1.803,0.411,3.508,1.127,5.044C17.934,51.917,15,56.119,15,61v14h36V61z M33,39c3.309,0,6,2.691,6,6s-2.691,6-6,6  c-3.309,0-6-2.691-6-6S29.691,39,33,39z M45,69H21v-8c0-3.115,2.387-5.684,5.429-5.971C28.318,56.271,30.574,57,33,57  s4.682-0.729,6.57-1.971C42.613,55.316,45,57.885,45,61V69z"/></svg>';

@image-backdrop: "/app/assets/backdrop.jpg";
@image-author: "/app/assets/author.jpg";

html {
  background-color: #3d3d3d;
  overflow: auto;

  @media (max-width: @phone-width) {
    overflow-x: hidden;
  }

  &:after {
    display: none;
		content: url(@image-backdrop) url(@image-author);
  }
}

body {
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: subpixel-antialiased;

  &.loading {
    background: white;
  }

  a {
    background-image: linear-gradient(0deg, @color-primary, @color-primary);
    background-size:  0% 0.1em;
    background-position: center bottom;
    background-repeat: no-repeat;
    transition: background-size .2s ease-out;

    &:hover {
      text-decoration: none;
      background-size:  100% 0.1em;
    }
  }

  > header {
    height: 500px;
    background-image: url(@image-backdrop);
    background-size: cover;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(circle, rgba(0,0,0,0), rgba(0,0,0,0.4));
    }

    a.logo, a.logo:hover {
      font-size: inherit;
      border: 1px solid white;
      padding: .2em .5em;
      text-decoration: none;
      background: none;
      position: relative;
    }

    .intro {
      font-family: 'Montserrat', sans-serif;
      font-size: 4em;
      color: white;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      margin-top: 18%;
      line-height: 1.4em;
      a {
        background-image: linear-gradient(0deg, white, white);
      }
    }
  }

  > main {
    background: white;
    flex: none;
  }

  > footer {
    color: #B8B8B8;
    background-color: inherit;
  }
}

body > main aside {
  a.toggler {
    display: none;
  }

  @media (max-width: @phone-width) {
    &:before {
      content:    " ";
      position:   absolute;
      width:      100vw;
      height:     100%;
      top:        0;
      right:      100%;
      background: transparent;
      pointer-events: none;
    }

    a.toggler {
      display: block;
      width: 2em;
      height: 2em;
      position: absolute;
      left: -4em;
      top:  1.7em;
      border: 2px solid white;
      transition: transform .4s ease-out;

      .add-icon(@icon-menu);

      &:before {
        width: 1.2em;
        height: 1.2em;
        margin-left: .4em;
        margin-top: .1em;
      }
    }

    position:   absolute;
    top:        0;
    right:      -302px;
    min-height: 100%;
    padding:    1em;
    background: white;
    transform:  translateX(0);
    transition: transform .4s ease-out;

    &.open {
      transform: translateX(-302px);

      &:before {
        background: rgba(0,0,0,0.5);
        pointer-events: all;
      }

      a.toggler {
        transform: rotate(90deg);
      }
    }
  }

  @media (max-width: @iphone-5) {
    max-width: 230px;
    right:    -264px;

    &.open {
      transform: translateX(-264px);

      a.toggler {
        left: -3em;
      }
    }
  }
}

code {
  background: none;
  color: #CC462E;
  padding: 0;
}

.spinner {
  text-indent: -999em;
  width:  1em;
  height: 1em;
  border: .2em solid rgba(0,0,0,0.2);
  border-radius: 50%;
  border-top-color:  rgba(0,0,0,0.5);
  animation: spin 1s ease-in-out infinite;
  h1 {
    position: absolute;
    left: -999em;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.locker {
  background: rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  height: 3em;
}

article.pages {
  h1:first-child {
    margin-bottom: 1em;
  }
  .load-more {
    width: 100%;
    margin-top: 2em;
    outline: none;
  }
}

.page {
  h1, h2 {
    &:first-of-type {
      margin-top: 0;
      line-height: 1.2em;
    }
  }

  .date {
    display: block;
    font-size: 80%;
    opacity: 0.6;

    @media (min-width: @large-width) {
      position: absolute;
      width: 7em;
      text-align: right;
      margin-left: -9em;
    }

  }

  &:not(.last-child) {
    margin-bottom: 2em;
  }

  figure {
    position: relative;
    margin: 1em 0;
    width: 100%;
    text-align: center;

    @media (max-width: @phone-width) {
      margin-left: -1em;
      width: ~"calc(100% + 2em)";
    }

    img {
      max-width: 100%;
    }

    figcaption {
      opacity: 0.6;
      font-style: italic;
    }
  }

  pre {
    code {
      border-radius: 0;
    }

    @media (max-width: @phone-width) {
      margin-left: -1em;
      width: ~"calc(100% + 2em)";

      code {
        padding-left: 1.2em;
        padding-right: 1em;
      }
    }
  }

  div.video {
    position: relative;
	  padding-bottom: 56.25%; /* 16:9 */
	  padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
	    top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width: @phone-width) {
      margin-left: -1em;
      width: ~"calc(100% + 2em)";
    }
  }

  div.tags {
    float: right;
    max-width: ~"calc(100% - 8em)";

    .tag {
      margin-left: .5em;
    }
  }

  &.preview {
    margin-bottom: 3em;
  }
}

div.tags {
  a.tag {
    .add-icon(@icon-tag);
  }
}

section.about {
  > h3 {
    margin-top: 0em;
  }

  div.author {
    position: relative;
    background: yellow;
    padding-bottom: 100%;
    background: url(@image-author);
    background-size: cover;
    background-position: center center;
  }
}

section.contacts {
  a.twitter {
    .add-icon(@icon-twitter);
  }

  a.github {
    .add-icon(@icon-github);
  }

  a.linkedin {
    .add-icon(@icon-linkedin);
  }

  a.resume {
    .add-icon(@icon-profile);
  }
}

section.categories {
  ul {
    padding-left: 1.5em;
  }
}

section.tags {
  a.tag {
    margin-right: .5em;
  }
}

.add-icon(@data) {
  white-space: nowrap;
  display:     inline-block;

  &:before {
    display:             inline-block;
    width:               1em;
    height:              1em;
    vertical-align:      middle;
    content:             " ";
    background-image:    url(@data);
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     contain;
    margin-right:        0.25em;
    margin-top:         -0.15em;
  }
}

body.resume {
  @import url('https://fonts.googleapis.com/css?family=Orbitron:300,900');

  header, footer, aside {
    display: none;
  }

  background: black;

  * {
    font-family: 'Orbitron', Arial, sans-serif;
    font-weight: 300;
    color:       inherit;
  }

  a { border-bottom: 0.1em solid white; }

  main {
    background: black;

    article {
      min-height: 100vh;

      h1 {
        position:    absolute;
        white-space: nowrap;
        width:       100vw;
        text-align:  center;
        color:       rgb(33,74,117);
        filter:      blur(2px);
        font-weight: 900;
        opacity:     0.3;
        left:        0;
        top:         0;
        font-size:   5rem;
        transform:   translate(50vw, 24rem);
        transform-origin: left center;
        animation:   headermove 70s linear forwards;
      }

      p, blockquote, a[href="/"] {
        display: none;
      }
      h2, ul {
        display: none;

        &.active {
          display: block;
        }
      }

      h2.active {
        margin-top: 30vh !important;
        margin-bottom: 2em;
      }

      ul.active {
        list-style: none;
        padding:    0;
        margin:     0;

        li {
          position:      absolute;
          left:         -1em;
          font-size:     1.5em;
          animation:     typing 2s steps(60, end) forwards;
          white-space:   nowrap;
          margin-bottom: .5em;
          clip:          rect(0, 1em, 2em, 1em);

          &:before {
            content:          "";
            position:         relative;
            display:          inline-block;
            width:            0.5em;
            height:           0.75em;
            background-color: white;
            border-radius:    1px;
            margin-right:     .5em;
            opacity:          0.9;
          }

          &:nth-child(1) { top: 0em;  animation-delay: 0;   }
          &:nth-child(2) { top: 2em;  animation-delay: 2s;  }
          &:nth-child(3) { top: 4em;  animation-delay: 4s;  }
          &:nth-child(4) { top: 6em;  animation-delay: 6s;  }
          &:nth-child(5) { top: 8em;  animation-delay: 8s;  }
          &:nth-child(6) { top: 10em; animation-delay: 10s; }
          &:nth-child(7) { top: 12em; animation-delay: 12s; }
          &:nth-child(8) { top: 14em; animation-delay: 14s; }
          &:nth-child(9) { top: 16em; animation-delay: 16s; }
        }
      }

      h2.active, ul.active {
        color:           white;
        position:        relative;
        animation:       disappear 1.5s forwards;
        animation-delay: 12s;
      }
    }
  }
}

@keyframes headermove {
  0% { font-size: 160rem; }
  50% {
    transform: translate(-15rem, 35rem);
  }
  100% {
    font-size: 5rem;
    transform: translate(0, 20rem);
    color:     rgb(47,99,147);
    opacity:   1;
    filter:    blur(0);
  }
}

@keyframes typing {
  0.1%  { clip: rect(0, 1em,  2em, 0em); }
  99.9% { clip: rect(0, 50em, 2em, 0em); }
  100%  { clip: rect(0, 50em, 2em, 1em); }
}

@keyframes disappear {
  0%   { color: green; border-color: green; filter: blur(0px); opacity: 1; }
  80%  { filter: blur(4px); opacity: 1; }
  100% { opacity: 0; }
}
