@import url(http://fonts.googleapis.com/css?family=Jura:600);
@import url(http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,400,300);

@import "painless";

@font-family: Roboto;
@font-weight: 300;
@font-headers: Jura;
@font-headers-weight: 600;

a.logo {
  font-family: @font-headers;
}
